.footer {
    padding: 60px 0px;
    background-color: #2F303A;
}
.footer {
    @media screen and (min-width: 768px) {
        justify-content: center;
        padding-bottom: 60px;
        background-color: #2F303A;
    }
}
.footer {
    @media screen and (min-width: 1200px) {
        padding-top: 60px;
        padding-bottom: 60px;
        background-color: #2F303A;
    }
}
.footer-container {
    display: block;
    margin: 0 auto;
}
.footer-container {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
}
.footer-container {
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}
.footer-box {
    display: block;
    text-align: center;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}
.footer-box {
    @media screen and (min-width: 768px) {
        display: block;
        text-align: center;
        margin-bottom: 60px;
        margin-left: 70px;
        margin-right: auto;
    }
}
.footer-box {
    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        margin-bottom: 0px;
        margin-left: 0px;
        text-align: left;
    }
}