.mobile-menu-open {
    display: block;
    margin-left: auto;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:hover {
            fill: #2196f3;
        }
}
.mobile-menu-open {
    @media screen and (min-width: 768px) {
        display: none;
    }
}
.mobile-menu-close {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    &:hover {
        fill: #2196f3;
    }
}
