.portfolio-section {
    padding-top: 60px;
    padding-bottom: 60px;
}
.portfolio-section {
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}
.portfolio-list {
    padding-left: 0px;
    padding-right: 0px;
}
.portfolio-list {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 0px;
        gap: 30px;
    }
}
.portfolio-list {
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      text-align: center;
      gap: 30px;
    }
}
.portfolio-item {
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:hover {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    &:hover .blue-card-text {
        transform: translateY(0);
    }
}
@media screen and (max-width: 767px) {
    .portfolio-item:not(:last-child) {
        margin-bottom: 30px;
    }
}
.portfolio-item {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        height: auto;
        flex-basis: calc((100% - 30px) / 2);
    }
}
.portfolio-item {
    @media screen and (min-width: 1200px) {
        max-width: 100%;
        height: auto;
        flex-basis: calc((100% - 60px) / 3);
        
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                1px 4px 6px rgba(0, 0, 0, 0.16);
        }
        
        &:hover .blue-card-text {
            transform: translateY(0);
        }
    }  
}

.blue-card {
    position: relative;
    overflow: hidden;
}
.blue-card-text {
    position: absolute;
    top: 0;
    padding: 63px 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms linear;
    font-family: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #ffffff;
    background-color: rgba(33, 150, 243, 0.9);
}
